*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 400px;

}

.cabecalho-menu ul{
    display: flex;
    list-style: none;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

.hero-button{
    width: 100px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-color: #1F2937;
    padding: 0 400px;
    
}