*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 50px 200px;   
     

}

.cabecalho-menu ul{
    display: flex;
    list-style: none;
    gap: 26px;
    
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-sectionn{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-color: #1F2937;
    padding: 0 200px;  
}


.hero-titulo{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: Roboto;
}

.hero-subtitulo{
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto;
}

.links-menu{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Roboto;
    color: white;
}

.links-menu:hover{
    color: #3882F6;
}

.hero-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    font-family: Roboto;
    width: 150px;
    font-weight: 500;
    cursor: pointer
}

.hero-button{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
}

.hero-button:hover{
    opacity: 0.9;
    transform: scale(1.02);
}

#sexteto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0 50px 0;
    gap: 40px;
}

.sexteto-texto{
    font-size: 18px;
    font-family: Roboto;
    color: #1F2937;
    font-weight: 500;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.sexteto-titulo{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: Roboto;
    margin-bottom: 7px;
}

.cards-container{
    align-items: center;
    justify-content: center;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin-bottom: 40px;
}

.poke-card a{
    font-size: 18px;
    font-family: Roboto;
    color: #1F2937;
    font-weight: 500;
    text-decoration: none;
}

#quote-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 350px;
}  
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.quote-text{
    font-size: 36px;
    font-family: Roboto;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    width: 700px;
}

.quote-author{
    font-size: 24px;
    font-family: Roboto;
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
}